.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: aliceblue;
  border-radius: 5px;
  margin-bottom: 5px;
  width: 400px;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h4 {
  margin: 0.5rem auto;
  font-weight: bold;
}
